



body{
	background-color: black;
	font-family: 'Inter', sans-serif;
	font-family: 'PT Mono', monospace;
}

.headline {
	font-family: 'Inter', sans-serif;
	font-size: 20vw;
	color: white;
}

.headline2 {
	margin-top: 100px;
	font-family: 'Inter', sans-serif;
	font-size: 20vw;
	color: white;
	text-align: right;
}


.headline3 {
	font-family: 'Inter', sans-serif;
	font-size: 20vw;
	color: hotpink;
	text-align: center;
}

.text {
	font-family: 'PT Mono', monospace;
	color:white;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
	font-size:5vw;
    position: relative;
    z-index: 1;
}

.text2 {
	font-family: 'PT Mono', monospace;
	color:lightpink;
	text-align: right;
	margin-right: 10%;
	margin-left: 10%;
	font-size:5vw;
    margin-bottom: 10em;
}

.playbutton {
	color:white;
	font-family: 'Inter', sans-serif;
	font-size: 10vw;
	text-align: center;
}

#iframe {
    margin-right: inherit;
    margin-left: inherit;
    margin-top: -20em;
}

#wrapper {
    margin-right: 10%;
    margin-left: 10%;
}

a {
  color: skyblue;
}

a:visited {
  color: skyblue;  
}

.svg {
    position: relative;
    z-index: 0;
}
